<div    class ="content">     
<!-- contenedor Login-->
    <div class="login">
      <h1 >Iniciar Sesión</h1>
      <form [formGroup]="loginForm" class="example-form">
        <div>
          <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
            <input type="email" matInput [formGroup]="loginForm" formControlName="email"   required
                 placeholder="Ejemplo: correo@ejemplo.com" >     
            <mat-error *ngIf="this.loginForm.controls.email.hasError('email') && !this.loginForm.controls.email.hasError('required')">
              Ingrese un correo valido
            </mat-error> 
            <mat-error *ngIf="this.loginForm.controls.email.hasError('required')">
              Ingrese un <strong>Email</strong>
            </mat-error>
          </mat-form-field>
        </div>  
            <mat-form-field appearance="outline">
              <input matInput placeholder= "Ingrese su contraseña" [formGroup]="loginForm" [type]="hidel ? 'password' : 'text'" formControlName="password"> 
                <mat-icon matSuffix (click)="hidel = !hidel">{{hidel ? 'visibility_off' : 'visibility'}}</mat-icon>
                  <mat-hint *ngIf="!loginForm.value">Ingresa tu contraseña</mat-hint> 
            </mat-form-field>
          </form>
          <div class="center">
            <button mat-button class="buton" type="submit" [disabled]="!loginForm.valid" (click)="onLogin()">Ingresar</button>  
            <div >
              <p>
                <a [routerLink]="['recuperarcontrasena']"> ¿Olvido su contraseña ? </a>
              </p>
            </div>
            <div >
              <p>
                <a [routerLink]="['registro']"> ¿No estas registrado? </a>
              </p>
            </div>
          </div>
        </div>
       
</div>

      
