<mat-toolbar color="primary" >
    <div fxHide.gt-xs>
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div class="logo" >
        <a  routerLink="/home">
            <img src="assets\images\Method Draw Image (1).png" >
        </a>
    </div>
    <div fxFlex  fxLayout fxLayoutAlign="end" fxHide.xs class="flex-wrapper">
        <ul fxLayout fxLayoutGap="20px" class="navigation-items">
            <li>
                <a mat-button routerLink="/publicacion" routerLinkActive="active">Publicaciones</a>
            </li>
            <li>
                <a  mat-button  *ngIf= "!isLogged;else viewLogin" routerLink="/login"  routerLinkActive="active">Crear publicacion</a>
                <ng-template #viewLogin >
                    <a mat-button   mat-button routerLink="/crear">
                 Crear publicacion     
                    </a> 
                </ng-template>
            </li>
            
            <li>              
                <a  mat-button *ngIf= "!isLogged; else viewLogout" routerLink="/login"routerLinkActive="active" >
                        Iniciar sesion
                </a>
                      <ng-template #viewLogout >
                        <button  mat-icon-button (click)="onLogout()">
                            <mat-icon>logout</mat-icon>
                        </button> 
                    </ng-template>
        
            </li>
            


        </ul>
       
    </div>

    