  
a {
    text-decoration: none;
    color: white;
    width: auto;
    height: auto;
    font-style: italic;
    font-size: 80%;
}
a.active {
    background-color: #fbda6f;
    color:black; 
    text-decoration-color: black;
    
}
a:hover, a:active{
    color: black;
    background-color: #fbda6f;
}
 
.navigation-items{
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: auto;
    height: auto;
}
 
mat-toolbar{
    border-radius: 3px;
    //height: 10%;
    height: 100px;
    //position: sticky;
    box-sizing: border-box;
    top:0;
}
@media(max-width: 959px){
    mat-toolbar{
        border-radius: 0px;
        
    }
}
img{
    width: 100%;
    height: auto;
    margin-top: 5%;
}

.flex-wrapper{
    margin-right: 10%;
    size: 20%;

}
.logo{
    margin-left: 10%;
}

