<div  class="center" *ngIf="!login">
  <img src="../../../assets/images/crear-pub.png" alt="">
</div>
<div *ngIf="login" class="container">
  <div class="crear">
    <H1>Ingrese los datos del animal que desea publicar</H1>
    <h3><b> *Todos los campos son obligatorios* </b></h3>
    <form [formGroup]="form" (ngSubmit)="crearPublicacion($event)" class="example-form">
      <!-- Nombre-->
      <div>
        <mat-form-field appearance="outline">
          <input placeholder="Nombre del animal" formControlName="nombreAnimal" matInput type="text">
        </mat-form-field>
      </div>
       <!-- Tipo-->
       <div>
        <mat-form-field appearance="outline">
          <mat-label>El animal es </mat-label>
            <mat-select formControlName="tipo">
              <mat-option *ngFor="let state of tipos" [value]="state">{{state}}</mat-option>
            </mat-select>
        </mat-form-field> 
      </div>
      <!-- Celular-->
      <div>
        <mat-form-field appearance="outline">
            <input placeholder="Celular de contacto 987654321" formControlName="celular" matInput type="text">
        </mat-form-field>   
      </div>
      <!-- Especie-->
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Seleccione la especie</mat-label>
            <mat-select formControlName="especie">
              <mat-option *ngFor="let state of especie" [value]="state">{{state}}</mat-option>
            </mat-select>
        </mat-form-field>
      </div>
      <!-- Edad-->
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Seleccione una edad</mat-label>
          <mat-select formControlName="edad">
            <mat-option *ngFor="let state of edades" [value]="state">{{state}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <!-- Personalidad-->
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Seleccione una personalidad</mat-label>
            <mat-select formControlName="personalidad">
              <mat-option *ngFor="let state of personalidad" [value]="state">{{state}}</mat-option>
            </mat-select>
        </mat-form-field>
      </div>
      <!-- Tamaño-->
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Seleccione el tamaño</mat-label>
            <mat-select formControlName="tamano">
              <mat-option *ngFor="let state of tamano" [value]="state">{{state}}</mat-option>
            </mat-select>
        </mat-form-field>
      </div>
      <!-- Energia-->
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Seleccione la energia</mat-label>
            <mat-select formControlName="energia">
              <mat-option *ngFor="let state of energia" [value]="state">{{state}}</mat-option>
            </mat-select>
        </mat-form-field>
      </div>
       <!-- Esterilizado-->
       <div>
        <mat-form-field appearance="outline">
          <mat-label>¿Esta esterilizado?</mat-label>
            <mat-select formControlName="esterilizado">
              <mat-option *ngFor="let state of esterilizado" [value]="state">{{state}}</mat-option>
            </mat-select>
        </mat-form-field>
      </div>
      <!-- Parasito-->
      <div>
        <mat-form-field appearance="outline">
          <mat-label>¿Esta desparasitado?</mat-label>
            <mat-select formControlName="parasitos">
              <mat-option *ngFor="let state of parasitos" [value]="state">{{state}}</mat-option>
            </mat-select>
        </mat-form-field>
      </div>
      <!-- Vacuna-->
      <div>
        <mat-form-field appearance="outline">
          <mat-label>¿Esta vacunado?</mat-label>
            <mat-select formControlName="vacunas">
              <mat-option *ngFor="let state of vacunas" [value]="state">{{state}}</mat-option>
            </mat-select>
        </mat-form-field>
      </div>
      <!-- Region-->
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Seleccione su region</mat-label>
          <mat-select formControlName="region">
            <mat-option (click) = "obtenerCiudades(food.region)"  *ngFor="let food of ciudades; let index" [value]="food.region">
              {{food.region}} 
            </mat-option>
          </mat-select>
        </mat-form-field>
    </div>
<!-- Comuna-->
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Seleccione su comuna</mat-label>
            <mat-select formControlName="ciudad">
              <mat-option *ngFor="let state of comunas" [value]="state">{{state}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
       
        <!-- Observacion-->
          <div >
            <mat-form-field appearance="outline" >
              <textarea placeholder="Tiene alguna observación" formControlName="observacion" matInput></textarea>
            </mat-form-field>
        </div>
        <!-- Imagen-->
        <div>
          <label>
            <input type="file" formControlName="imagen" (change)="handleImage($event)" />
            <mat-icon>cloud_upload</mat-icon><span>CHOOSE IMAGE</span>
          </label>
        </div>
          <!-- Imagen  <button (click)="crearPublicacionPrueba()">Crear</button>-->
        <button mat-button class="buton" type="submit" [disabled]="!(form.valid)">Crear Publicacion</button>  
  </form>
</div>  
</div>