
.container { 
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 900px){
  .product-grid{
      grid-template-columns: repeat(3, 1fr);
  }
  .crop-image {
    height: 700px;
  }
}