<div *ngIf="publicacion">
    <div>
        <img [src]="publicacion.imagen" alt="">
    </div>  
    <div>
        <ul>
            <li>Nombre: {{ publicacion.nombreAnimal}}</li>
            <li>Edad: {{ publicacion.edad}}</li>
            <li>Energia: {{ publicacion.energia}}</li>
            <li>Personalidad: {{ publicacion.personalidad}}</li>
            <li>Tamaño: {{ publicacion.tamano}}</li>
            <li>Ciudad: {{ publicacion.ciudad}}</li>
            <li>especie: {{ publicacion.especie}}</li>
        </ul>
        <p>{{ publicacion.descripcion }}</p>
        <p>{{ publicacion.observacion }}</p>
    </div>
    <button (click)="crearPublicacion()">Crear</button>

</div>
