.mat-sidenav-container{
    background-image: url('../assets/images/fondoss.png');	
    width: 100%;
    height: 100%;
 
}
.mat-toolbar{
    grid-area: tool;

}


.contenido{
    
	padding: 20px;
	border-radius: 4px;
    grid-area: contenido;

    
}
.mat-sidenav-container.contenido{
    grid-area: contenido;
}

