.crop-image {
  height: 700px auto;
  width: 100%;
  img {

    max-width: 100%;
  }
}


.container { 
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
}




.example-card {
  max-width: 1000px;
}

.example-header-image {
  background-image: url('../../../assets/images/logo.png');
  background-size: cover;
}
.mat-icon {
  vertical-align: sub;
  padding-right: 2px;
}
mat-card{
  background-color: #c0dbf3;
}
mat-raised-button{
  background-color: yellow;

}
button {
  text-decoration: none;
  color: black;
  font-style: italic;
  font-size: 100%;
  background-color:#fbda6f ;
  align-items: center;
}
.center{
 margin-left: auto;
 align-items: center;
 
 
}


