<div class="content" >
    <div class="email">
      <h1 class="card-title text-center">Gracias por registrarte!</h1>
      <div class="form-group mt-2">
        <p class="text-center">
          Enviamos un corre de confirmacion a tu correo <strong></strong>
        </p>
        <p class="text-center">
          Confirma haciendo click en el enlace que enviamos
        </p>
      </div>
      <div class="form-group text-center mt-5">
        <button mat-button class="buton" (click)="onSendEmail()">Reeniviar email</button>  
      </div>
    </div>
  </div>