.email{
  
  border-radius: 5px;
  grid-area: texto;
  text-align: center;
  padding: 5%;
  background-image: url('/Adoptame/src/assets/images/emailfondo.png');
  background-color: #c0dbf3 ;
}
.buton {
  margin-top: 10px;
  text-decoration: none;
  color: black;
  width: auto;
  height: auto;
  font-style: italic;
  font-size: 100%;
  margin-bottom: 10px;
  background-color:#fbda6f ;
}
.content{
  width: 100%;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-template-areas:"none texto  texto" 
                      "none texto texto";
}